<!-- https://forum.primefaces.org/viewtopic.php?t=63246 -->
<p-menubar [model]="items">
  <ng-template pTemplate="start">
      <!-- <img src="assets/images/fh4.jpg" height="40" class="p-mr-2" routerLink="/home"> -->
      <a routerLink="/home"><img src="assets/images/fh4.jpg" height="40" class="p-mr-2"></a> <!-- Bild als Link anzeigen -->
  </ng-template>
  <ng-template pTemplate="end">
      <!--<input type="text" pInputText placeholder="Search">-->

      <!-- ToDO: Switch eleganter-->
      <button *ngIf="currentUser.loginName==''" pButton label="Login" icon="pi pi-power-off" routerLink="/login"></button>
      <button *ngIf="currentUser.loginName!==''" pButton label="Logout" icon="pi pi-power-off" (click)="logout()"></button>
  </ng-template>
</p-menubar>
