<!-- statt style Klasse in styles.css -->

<!-- standard mit 3 boxen, fluid -->
<div class="p-grid" style="margin: 2rem;">
  <div class="p-col-12 p-md-6 p-lg-3">
    <div class="box">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="p-field p-grid">
          <label for="password" class="p-col-fixed">Current Password</label>
          <div class="p-col">
            <input
              pInputText id="password"
              type="password"
              formControlName="currentPwd"
              [ngClass]="{ 'ng-invalid ng-dirty': (submitted && invalidPwd) || (submitted && frm.currentPwd.errors) }" />
              <small *ngIf="submitted && frm.currentPwd.errors" class="p-invalid">Password is required</small>
              <small *ngIf="submitted && invalidPwd" class="p-invalid">Invalid Password</small>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="newPassword" class="p-col-fixed">New Password</label>
          <div class="p-col">
            <input
              pPassword id="newPassword"
              type="password"
              formControlName="newPwd"
              [ngClass]="{ 'ng-invalid ng-dirty': submitted && frm.newPwd.errors }" />
              <!-- irgendein fehler: <small *ngIf="submitted && frm.newPwd.errors" class="p-invalid">Password is required</small> -->
              <!-- ToDo: nur 1 Fehler auf's mal anzeigen -->
              <small *ngIf="submitted && frm.newPwd.errors?.required" class="p-invalid">Password is required</small>
              <small *ngIf="submitted && frm.newPwd.errors?.minlength" class="p-invalid">Must be at least 8 characters</small>
              <small *ngIf="submitted && frm.newPwd.errors?.hasNumber" class="p-invalid">Must contain at least one number</small>
              <small *ngIf="submitted && frm.newPwd.errors?.hasCapitalCase" class="p-invalid">Must contain at least 1 character in Capital case</small>
              <small *ngIf="submitted && frm.newPwd.errors?.hasSmallCase" class="p-invalid">Must contain at least 1 character in small case</small>
              <small *ngIf="submitted && frm.newPwd.errors?.hasSpecialCharacters" class="p-invalid">Must contain at least 1 special characters</small>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="confirmPassword" class="p-col-fixed">Confirm Password</label>
          <div class="p-col">
            <input
              pInputText id="confirmPassword"
              type="password"
              formControlName="confirmPwd"
              [ngClass]="{ 'ng-invalid ng-dirty': submitted && frm.confirmPwd.errors }" />
              <small *ngIf="submitted && frm.confirmPwd.errors?.required" class="p-invalid">Please repeat password</small>
              <small *ngIf="frm.confirmPwd.errors?.mustMatch" class="p-invalid">No match</small>
          </div>
        </div>

        <!-- button type "submit" geht hier nicht, triggert das event zweimal-->
        <button pButton type="button" label="OK" (click)="onSubmit()"></button>
      </form>
    </div>
  </div>
</div>

<!-- technische fehlermeldung, box -->
<p *ngIf="errorMsg">{{ errorMsg }}</p>
