<ng-container *ngIf="courses$ | async as courses; else loading">

  <!-- static content, always shown after load -->
  <div class="card content">
    <form [formGroup]="form">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-3">
          <p-multiSelect
            id="series"
            formControlName="seriesCodes"
            [options]="series.values"
            optionLabel="textEN"
            optionValue="lookupValue"
            optionDisabled="disabled"
            [ngClass]="{ 'ng-invalid ng-dirty': frm.seriesCodes.errors }"
            (onChange)="searchHandler()">
        </p-multiSelect>
        <small *ngIf="frm.seriesCodes.value.length == 0" class="p-invalid">Chose your series</small>
        </div>
        <div class="p-field p-col-9 p-md-9">
          <!-- ToDo: NGprime hat ein Search Control-->
          <input
            id="search"
            formControlName="searchTerm"
            type="text" pInputText
            (keyup)="searchHandler()">
        </div>
        <div class="p-field p-col-11 p-md-1">
          <!-- todo: unten/rechts vom searchTerm platzieren, neues div/formgrid?-->
          <p-button
            type="button"
            label="New"
            [routerLink]="['/routes/add']">
          </p-button>
        </div>
      </div>
    </form>
  </div>

  <!-- content shown if data is present -->
  <ng-container *ngIf="courses.length>0">
    <h5>Table / Static Title</h5>

    <!-- https://www.codeusingjava.com/angular/primeng/prime7 -->
    <p-table
      [value]="courses"
      [paginator]="true"
      [rows]="10"
      [totalRecords]="courses.length"
      >
      <ng-template pTemplate="header">
        <tr>
            <th>Series</th>
            <th>Name</th>
            <th>Creator</th>
            <th>Share Code</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-course>
        <tr>
            <td>{{course.seriesText}}</td>
            <td><a [routerLink]="['routes', course.id]">{{ course.name }}</a></td>
            <td>{{course.createdName}}</td>
            <td>{{course.forzaSharing | forzashare}}</td>
        </tr>
    </ng-template>
    </p-table>

    <!--
    <ul *ngFor="let course of courses | slice: first : first + pageSize">
      <li><a [routerLink]="['routes', course.id]">{{ course.name }}</a></li>
    </ul>

    <p-paginator [rows]="pageSize" [totalRecords]="courses.length" (onPageChange)="onPageChange($event)"></p-paginator>
    -->

  </ng-container>

  <!-- content shown if no data is present (no error) -->
  <p *ngIf="courses.length==0 && errorMsg ==''">No Data</p>


  <!-- content shown if there was an error -->
  <p *ngIf="errorMsg!=''">{{errorMsg}}</p>

</ng-container>

<ng-template #loading>
  <!-- global css class-->
  <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
</ng-template>
