<p>course-show2 works!</p>


<ng-container *ngIf="course$ | async as course; else loading">

  <p>{{ course.name }}</p>
  <p>creatd by: {{ course.metaInfo.createdName }}</p>
  <p>can modify: {{ this.canModify }}</p>

  <p *ngIf="course.route">
    based on: <a [routerLink]="['/routes/routes', course.route.id]">{{course.route.name}}</a>
  </p>

  <p *ngIf="course.carClassesText">
    Car Classes:
    {{course.carClassesText}}
  </p>

  <!-- hier wird alles als error behandelt, auch 204-->
  <p *ngIf="loadingErr!=''">OOPS something went wrong</p>

</ng-container>

<ng-template #loading>
  <!-- global css class-->
  <p-progressSpinner class="content" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
</ng-template>
