/* You can add global styles to this file, and also import other style files */

/* https://www.softaox.info/best-way-to-use-google-fonts-in-your-angular-project/ */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Font Family */
html, body {
    font-family: 'Roboto', sans-serif;
}

.content {
  padding: 2rem;
}


/* evtl. in eigene datei auslagern */
/* https://htmlcolorcodes.com/ */

.forzaShare {
  color: orangered;
  font-style: italic;
  font-weight: bold;
}

.rating {
  color: darkred;
 }

 .user {
   color: cornflowerblue;
   font-style: italic;
 }


/* https://www.w3schools.com/css/css3_borders.asp */
.rounded {
  border-radius: 5px;
}

.right {
  margin-left:  0.5rem;
}
