<div *ngIf="course; else loading">

  <p>{{course.name}}</p>
  <p>{{course.seriesText}}</p>
  <p>Created by {{course.metaInfo.createdName}}</p>
  <p>Created at {{course.metaInfo.createdTS}}</p> <!-- format pipe-->

  <p>can modify: {{canModify}}</p>

  <p *ngIf="course.route">
    based on: <a [routerLink]="['/routes/routes', course.route.id]">{{course.route.name}}</a>
  </p>

  <p *ngIf="course.carClassesText">
    Car Classes:
    {{course.carClassesText}}
  </p>

  <hr>
  <!-- ist disabled immer noch klickbar -->
  <!-- https://forum.primefaces.org/viewtopic.php?t=59008 -->
  <!--
  <p-button
    type="button"
    label="modify"
    [routerLink]="['/routes/edit', courseId]"
    [disabled]=readOnly>
  </p-button>
  -->

  <button
    pButton
    label="modify"
    [routerLink]="['/routes/edit', courseId]"
    [disabled]=!canModify>
  </button>

</div>

<ng-template #loading>
  <p-progressSpinner *ngIf="errorMsg==''; else error" class="content" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

  <ng-template #error>
    <p *ngIf="errorMsg">{{errorMsg}}</p>
  </ng-template>

</ng-template>
