<!-- https://www.primefaces.org/primeng/showcase/#/primeflex/grid -->

<div *ngIf="course; else loading">

  <div class="card content" style="max-width: 1200px;"> <!-- widtrh begrenzen? -->

    <!--
    <div class="p-grid p-jc-center p-text-center">
      <div class="p-col-6">
          <img class="rounded" src="https://placehold.it/50x50/DAF7A6" alt="Type" title="Standard Track">
          <img class="rounded right" src="https://placehold.it/50x50/DAF7A6" alt="Type" title="Standard Track">
          <img class="rounded right" src="https://placehold.it/50x50/DAF7A6" alt="Type" title="Standard Track"> ToDo: auf Iphones nicht mehr zentriert!
      </div>
    </div>
    -->

    <div class="p-grid p-jc-center p-text-center">
      <!--
      https://www.primefaces.org/primeng/showcase/#/primeflex/grid
      responsive
      p-col-* bezieht sich auf das kleinste Gerät (Handy) - dann Tablets, dann PC
      -->
      <div class="p-col-3 p-md-2 p-lg-1"><img class="rounded" src="https://placehold.it/50x50/DAF7A6" alt="Type" title="Standard Track"></div>
      <div class="p-col-3 p-md-2 p-lg-1"><img class="rounded" src="https://placehold.it/50x50/DAF7A6" alt="Type" title="Standard Track"></div>
      <div class="p-col-3 p-md-2 p-lg-1"><img class="rounded" src="https://placehold.it/50x50/DAF7A6" alt="Type" title="Standard Track"></div>
    </div>

    <div class="p-grid p-jc-center p-text-center">
      <div class="p-col-12">
        <p class="forzaShare">{{ course.forzaSharing | forzashare }}</p>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12 p-mb-3 demo-container">
        <!-- links style, evtl. als fenster-->
        <h3><p>{{ course.name }}</p></h3>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-6">
        <p><a [routerLink]="['/users/users', course.metaInfo.createdID]">{{ course.metaInfo.createdName }}</a></p>
      </div>
      <div class="p-col-6 p-text-right">
        <p>Rating Component</p>
      </div>
    </div>

    <!-- nested -->
    <div class="p-grid">
      <div class="p-col-10">
        <div class="p-grid">
          <div *ngIf="course.description" class="p-col-10">
            <p-fieldset legend="Info" [toggleable]="true">
              {{course.description}}
            </p-fieldset>
          </div>
        </div>
      </div>
      <div class="p-col-2 p-text-right">
        <!-- by convention/requirements, it's not undefined -->
        <div *ngIf="course.carClassCodes![0].value==CARCLASS.Open; else manyCC">
          <img class="rounded" src="assets/icons/carclass/cc_open.png" alt="Car Class" title="course.carClassCodes[0].text">
        </div>
        <ng-template #manyCC>
          <div *ngFor="let cc of course.carClassCodes" class="box">
            <!-- ToDo: Falls ALLE kommt, anpassen (nur OPEN zeigen, IF...)-->
            <div [ngSwitch]="cc.value">
              <img *ngSwitchCase="CARCLASS.A800" class="rounded" src="assets/icons/carclass/cc_a.png" alt="Car Class" title="cc.Text">
              <img *ngSwitchCase="CARCLASS.B700" class="rounded" src="assets/icons/carclass/cc_b.png" alt="Car Class" title="cc.Text">
              <img *ngSwitchCase="CARCLASS.C600" class="rounded" src="assets/icons/carclass/cc_c.png" alt="Car Class" title="cc.Text">
              <img *ngSwitchCase="CARCLASS.D500" class="rounded" src="assets/icons/carclass/cc_d.png" alt="Car Class" title="cc.Text">
              <img *ngSwitchCase="CARCLASS.S1900" class="rounded" src="assets/icons/carclass/cc_s1.png" alt="Car Class" title="cc.Text">
              <img *ngSwitchCase="CARCLASS.S2998" class="rounded" src="assets/icons/carclass/cc_s2.png" alt="Car Class" title="cc.Text">
              <img *ngSwitchCase="CARCLASS.X999" class="rounded" src="assets/icons/carclass/cc_x.png" alt="Car Class" title="cc.Text">
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="p-grid">
      <!-- https://www.primefaces.org/primeng/showcase/#/tag -->
      <div *ngFor="let tag of course.tags" class="p-col-3 p-md-2 p-lg-1">
          <p-tag [value]="tag"></p-tag>

      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <p>Screenshots (Galleria)</p>
      </div>
    </div>

    <div class="p-grid">
      <!-- https://www.primefaces.org/primeng/showcase/#/tag -->
      <div class="p-col-12">
        Tags
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <p>Comments</p>
      </div>
    </div>

    <div *ngIf="canModify" class="p-grid">
      <div class="p-col-12">
        <p-fieldset legend="Control Panel" [toggleable]="true">
          <div class="p-grid">
            <!-- evtl. alle direkt nebeneinander in einer 12er-col mit margin-left -->
            <!-- so passt es nicht schön auf iPhones -->
            <div class="p-col">
              <button
                pButton
                label="stats"
                [routerLink]="['/analytics/visitors', courseId]"
                [disabled]=!canModify
                style="margin-right: 0.5rem;">
              </button>

              <button
                pButton
                label="modify"
                [routerLink]="['/routes/edit', courseId]"
                [disabled]=!canModify
                style="margin-right: 0.5rem;">
              </button>

              <button
                pButton
                label="delete"
                [routerLink]="['/routes/edit', courseId]"
                [disabled]=!canModify
                class="p-button-danger">
              </button>
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>

    <!--
    counter will be -1 if analytics is disabled on the server
    since we don't want to show wrong information to viewers.
    -->
    <div *ngIf="visits>1" class="p-grid">
      <div class="p-col-12">
        <p>{{visits}} views.</p>
      </div>
    </div>

  </div>

</div>

<ng-template #loading>
  <p-progressSpinner *ngIf="errorMsg==''; else error" class="content" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

  <ng-template #error>
    <p *ngIf="errorMsg">{{errorMsg}}</p>
  </ng-template>

</ng-template>
