<div class="card content">
  <h5 *ngIf="!editing">Add Route</h5>
  <h5 *ngIf="editing">Modify Route</h5>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-1">
        <label for="game">Game</label>
        <p-dropdown
          inputId="game"
          formControlName="gameCode"
          [options]="game.values"
          optionLabel="textEN"
          optionValue="lookupValue"
          optionDisabled="disabled">
        </p-dropdown>
      </div>
      <div class="p-field p-col-11 p-md-8">
        <label for="courseName">Route Name</label>
        <input
          id="courseName"
          formControlName="name"
          type="text" pInputText
          [ngClass]="{ 'ng-invalid ng-dirty': submitted && frm.name.errors }">
          <small *ngIf="submitted && frm.name.errors" class="p-invalid">Route Name is required</small>
      </div>
      <div class="p-field p-col-2 p-md-2">
        <label for="routeStyle">Label needed :-/</label>
        <p-selectButton
          id="routeStyle"
          formControlName="styleCode"
          [options]="style.values"
          optionLabel="textEN"
          optionValue="lookupValue"
          optionDisabled="disabled">
        </p-selectButton>
      </div>

      <div class="p-field p-col-12 p-md-12">
        <label for="description">Comment</label>
        <textarea pInputTextarea
          id="description"
          formControlName="description"
          [autoResize]="true"
          [rows]="5"
          [cols]="30">
        </textarea>
      </div>

      <div class="p-field p-col-4">
        <label for="series">Series</label>
        <p-dropdown
          inputId="series"
          formControlName="seriesCode"
          [options]="series.values"
          optionLabel="textEN"
          optionValue="lookupValue"
          optionDisabled="disabled"
          placeholer="test">
        </p-dropdown>
      </div>

      <div class="p-field p-col-4">
        <label for="carClasses">Car Classes</label>
        <p-multiSelect
          id="carClasses"
          formControlName="carClassCodes"
          [options]="carClasses.values"
          optionLabel="textEN"
          optionValue="lookupValue"
          optionDisabled="disabled"
          [ngClass]="{ 'ng-invalid ng-dirty': submitted && frm.carClassCodes.errors }">
        </p-multiSelect>
        <small *ngIf="submitted && frm.carClassCodes.value.length == 0" class="p-invalid">Car classes are required</small>
      </div>

      <div class="p-field p-col-4">
        <label for="forzaShare">Sharing Code</label>
        <p-inputNumber
          inputId="forzaShare"
          formControlName="forzaSharing"
          [min]=100000000
          [max]=999999999
          [showButtons]=true>
        </p-inputNumber>
        <small *ngIf="submitted && frm.forzaSharing.errors?.required" class="p-invalid">Forza Share Code is required</small>
        <small *ngIf="!editing && frm.forzaSharing.errors?.shareCodeExists" class="p-invalid">Forza Share Code already exists</small>
      </div>

      <div class="p-field p-col-4">
        <label for="sharing">Sharing</label>
        <p-dropdown
        inputId="sharing"
          formControlName="visibilityCode"
          [options]="visibility.values"
          optionLabel="textEN"
          optionValue="lookupValue"
          optionDisabled="disabled">
        </p-dropdown>
      </div>

      <div class="p-field p-col-11 p-md-11">
        <label for="baseRoute">Base Route</label>
        <p-autoComplete
          id="baseRoute"
          formControlName="route"
          [suggestions]="routes"
          (completeMethod)="searchRoute($event)"
          field="name"
          [dropdown]="true"
          [ngClass]="{ 'ng-invalid ng-dirty': submitted && frm.name.errors }">
        </p-autoComplete>
        <small *ngIf="submitted && frm.name.errors" class="p-invalid">Route Name is required</small>
      </div>

      <div class="p-field p-col-6 p-md-6">
        <label for="tags">Try to categeorize</label>
        <p-chips
          id="chips"
          formControlName="tags">
        </p-chips>
      </div>

    </div>

    <!-- todo: add/edit switch-->
    <p-button
      *ngIf="!editing"
      type="submit"
      label="Add">
    </p-button>
    <p-button
      *ngIf="editing"
      type="submit"
      label="Save">
    </p-button>
  </form>
</div>


